App_WebReferences/wcf_service/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHotel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hotel" nillable="true" type="tns:Hotel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotel" nillable="true" type="tns:ArrayOfHotel" />
  <xs:complexType name="Hotel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Allotment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistanceFromCenter" type="xs:double" />
      <xs:element minOccurs="0" name="HotelID" type="xs:int" />
      <xs:element minOccurs="0" name="HotelImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelOrder" type="xs:int" />
      <xs:element minOccurs="0" name="HotelStatus" type="xs:int" />
      <xs:element minOccurs="0" name="Lat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stars" type="xs:double" />
      <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
      <xs:element minOccurs="0" name="xCountryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hotel" nillable="true" type="tns:Hotel" />
</xs:schema>